extends layout

block content
  div(id='buttons')
    button(id='beginner' data-difficulty='beginner' class='selected' disabled)='Beginner'
    button(id='intermediate' data-difficulty='intermediate')='Intermediate'
    button(id='expert' data-difficulty='expert')='Expert'
  div(id='wrapper')
    div(id='header')
      div(id='flag-counter' class='digital')='0'
      img(id='reset' src='/images/faces/face_unpressed.svg' alt='reset-game')
      div(id='timer' class='digital')='0'
    div(id='game-field')
